#main-signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-mid-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 100%;
}

.carouselstyle {
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}